services:
  mealie-recipe-dredger:
    build:
      context: .
    image: mealie-recipe-dredger:latest
    container_name: mealie-recipe-dredger
    restart: "no"
    env_file:
      - .env
    environment:
      TASK: dredger
      RUN_MODE: schedule
      RUN_SCHEDULE_DAY: 7
      RUN_SCHEDULE_TIME: "03:00"
    volumes:
      - ./data:/app/data
    extra_hosts:
      - "host.docker.internal:host-gateway"

  mealie-cleaner:
    build:
      context: .
    image: mealie-recipe-dredger:latest
    container_name: mealie-cleaner
    restart: "no"
    profiles: ["maintenance"]
    env_file:
      - .env
    environment:
      TASK: cleaner
      RUN_MODE: once
      DRY_RUN: true
      MAX_WORKERS: 2
    volumes:
      - ./data:/app/data
    extra_hosts:
      - "host.docker.internal:host-gateway"
