services:
  mealie-recipe-dredger:
    image: ghcr.io/d0rk4ce/mealie-recipe-dredger:latest
    container_name: mealie-recipe-dredger
    environment:
      - MEALIE_ENABLED=true
      - MEALIE_URL=http://your-mealie-ip:9000
      - MEALIE_API_TOKEN=your_token_here
      - TANDOOR_ENABLED=false
      - TANDOOR_URL=http://your-tandoor-ip:8080
      - TANDOOR_API_KEY=your_key_here
      - SCRAPE_LANG=en,de
      - TARGET_RECIPES_PER_SITE=50
      - SCAN_DEPTH=1000
      - DRY_RUN=false
    volumes:
      - ./data:/app
    restart: "no"
